*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;

}
h3{
    font-size: 20px;
    color: brown;
    font-weight: bold;
    text-decoration: underline;
}
